:root {
  --white-color: #ffffff;
  --first-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--white-color);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.list {
  list-style: none;
}
/* логотип */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
/* навігація */
.nav-item,
.mail,
.tel {
  color: var(--first-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.nav-item.active {
  color: var(--accent-color);
}
